body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#weather {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

.tabs {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(179, 173, 164);
}

/* Style for tab buttons */
.tab-button {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #792525;
}

/* Style for tab content */
.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: 780px;
    margin: auto;
}

/* Show active tab content */
.tab-content.active {
    display: block;
}








.weather-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
}

.weather-info {
    display: flex;
    align-items: center;
    border: none;
    padding: 20px; /* Optional: Add padding for spacing */
}

.weather-info p {
    margin-bottom: 10px; /* Adjust the margin as needed */
    text-align: left;
}

.weather-icon {
    margin-left: 50px; 
    width: 100px;
    height: 100px; 
}




.hourly-tab {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 tabs per line */
    gap: 5px; /* Adjust as needed */
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.hourly-tab button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

.hourly-tab button.active {
    background-color: #ccc;
}


.hourly-details {
    display: none;
    margin-top: 20px;
    width: 780px;
    height: 100px;
    background-color: rgb(220, 218, 244);
}

.hourly-details.active {
    display: block;
}

.hourly-forecast-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: block;
}

.hourly-forecast-item p {
    margin: 5px 0;
}

