body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#weather {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

.tabs {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(179, 173, 164);
}

.tab-button {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #792525;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: 780px;
    margin: auto;
}

.tab-content.active {
    display: block;
}








.weather-container {
    display: flex;
    justify-content: center;
}

.weather-info {
    display: flex;
    align-items: center;
    border: none;
    padding: 20px; 
}

.weather-info p {
    margin-bottom: 10px; 
    text-align: left;
}

.weather-icon {
    margin-left: 50px; 
    width: 80px;
    height: 80px; 
}




.hourly-tab {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 3px; 
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hourly-tab button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hourly-tab button.active {
    background-color: #16727e;
    color: white;
}


.hourly-details {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 780px;
    height: 120px;
    background-color: rgb(220, 218, 244);
    padding: 10px;
}

.hourly-details.active {
    display: block;
}

.hourly-forecast-item {
    display: flex; 
    align-items: center;
    margin-left: 220px;
}

.hourly-forecast-item p {
    margin: 5px 10px;
}

.hourly-forecast-item img {
    margin-left: auto; 
    margin-right: 250px;
    width: 80px;
    height: 80px;  
}






#daily-tab {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#daily-tab button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#daily-tab button:hover {
    background-color: #e0e0e0;
}

#daily-tab button.active {
    background-color: #00bcd4;
    color: white;
}

.daily-details {
    margin-top: 20px;
}

.daily-forecast-item {
    display: flex; 
    align-items: center;
    margin-left: 250px;
}

.daily-forecast-item p {
    margin: 5px 10px;
}

.daily-forecast-item img {
    margin-left: auto; 
    margin-right: 250px;
    width: 80px;
    height: 80px;  
}